<aside class="main-sidebar" style="background-color: #337ab7; z-index:1001">
        <section class="sidebar text-center">          
          <ul class="sidebar-menu cust-link" >
            <li class="treeview">
              <a href="#/">
                <i class="fa fa-folder fa-3x"></i> 
                <br>
                <span>Projects</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#/create-project">
                <i class="fa fa-plus-square fa-3x"></i> 
                <br>
                <span>Add Project</span>
              </a>
            </li>
          </ul>
        </section>
      </aside>